{% extends 'layouts/layout.html'%}



{%block title %} {{title}} {% endblock %}


{%block content %}
    <body class="body-back">
    <h1 class="title-index">{{title}}</h1>
    <div class= "botones">
        <div>
        <button class="button-crear"> <a class= "a-crear" href="{% url 'create_full' %}">Crear Receta </a></button>
        <button class="button-crear"> <a class= "a-crear" href="{% url 'create_category' %}">Crear Categoría </a> </button>
        <button class="button-crear"> <a class= "a-crear" href="{% url 'create_product' %}">Crear Producto </a> </button>
        </div>
        <br>

        <button class="button-buscar"> <a class= "a-crear" href="{% url 'buscar_articulo' %}">Buscar Receta </a></button>
        <button class="button-buscar"> <a class= "a-crear" href="{% url 'buscar_producto' %}">Buscar Producto </a></button>
    </div>
</body>
{% endblock %}